.nav {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: auto;

}

.nav a {
  color: #4ac212;
  text-decoration: none;
}

a:hover {

  text-decoration: none;
}

.mainheader {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
}